<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HumansOfNewYork App</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1 class="title">Get the latest from HumansOfNewYork.com on your phone every day!</h1>
  <h3 class="title">Simply enter your phone number below and recieve the latest from HumansOfNewYork.com</h3>
  <div>
    <iframe class="video" width="560" height="315" src="//www.youtube.com/embed/jVmdSzKYrOQ?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <form>
    Phone Number: <input type="text" name="phone_number">
  </form>
  <div>
    <button>Text me!</button>
  </div>
  <p>Humans of New York (acronym HONY) is a photoblog and bestselling book featuring street portraits and interviews collected in New York City. Started in November 2010 by photographer Brandon Stanton, over 6,000 portraits have been gathered thus far.[1] Stanton, who grew up outside of Atlanta and attended the University of Georgia, came to New York after a three-year stint as a bond trader in Chicago. Having started his career as a bond trader in the year 2008, Brandon Stanton decided to pursue his passion of photography professionally after he lost his job in 2010. He started to take candid portraits on streets which became a hit on his Facebook page. Brandon is most known for his photo blog Humans of New York (HONY), started in 2010.[2] Humans of New York has developed a large following through social media, and has over 7.8 million followers on Facebook as of the 15th of July, 2014.[3] During a speech at New York's 2013 Social Media Week, Tumblr founder David Karp described Humans of New York as his favorite blog on Tumblr.[4] At the 2013 Webby Awards, Humans of New York won the Webby for "Best Use of Photography" and the People's Voice Award for "Best Cultural Blog."[5] In December 2013, Stanton was named one of Time Magazine's 30 Under 30 People Changing The World.[6]</p>
  <div class="link">
    <a class="a" href="http://en.wikipedia.org/wiki/Humans_of_New_York">From Wikipedia</a>
  </div>
</body>
</html>